* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1240px;
    height: 1754px;
    background-image:url(images/bg-2.png);
    background-size: cover;
    position: relative;
    margin: auto;
}


.bar {
    width: 750px;
    height: 10px;
    background-color: white;
}

.one {
    position: absolute;
    top: 420px;
    left: 460px;
}

.two {
    position: absolute;
    top:1200px;
    left: 20px;
}

.content {
    height:auto;
    width: auto;
    position: absolute;

}

.content p {
    font-size: 180px;
    font-weight: 700;
    font-family:sans-serif;
    color: white;
}

.sur {
    top: 470px;
    left: 200px;
    z-index: 99;
}

.real {
    font-size: 160px;
    top: 800px;
    left: 660px;
}

.ism {
    top: 1000px;
    left: 200px;
}

#shoe {
    position: absolute;
    top: 400px;
    left: 530px;
    animation-name: moveImg;
    animation-duration: 3s;
}


#pineapple {
    position: absolute;
    top: 790px;
    left: 480px;
    z-index: 99;
    animation-name: moveImg;
    animation-duration: 3s;

    animation-delay: 1s;
}




#moon {
    position: absolute;
    top: 650px;
    left: 250px;
    animation-name: moveImg;
    animation-duration: 3s;

    animation-delay: 0.5ss;
    animation-fill-mode: backwards;
}

@keyframes moveImg {
    from {
        transform: scale(0) rotate(0);
        opacity: 0;

    }
    to {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}